extends layout

block content

    script(src='/javascript/client.js')

    h1 Game Menu
    div#userinfo
        span Your username:
        span#username #{username}
    div
        h3 Room List
        ul#roomlist
    div#createroom
        button#btnCreate Create Room